<footer class="footer-distributed">

    <div class="footer-left">

        <h3>
            <span class="styled">
                Newsforyou
            </span>
            <span class="styled-com">
                .com
            </span>
        </h3>

        <p class="footer-links">
            <a [routerLink]="'home'">Home</a>
            .
            <a [routerLink]="'country/Australia'" [routerLinkActive]="'active'">India</a>
            .
            <a [routerLink]="'country/Australia'" [routerLinkActive]="'active'">Australia</a>
            .
            <a [routerLink]="'country/America'" [routerLinkActive]="'active'">America</a>
            .
            <a [routerLink]="'country/Turkey'" [routerLinkActive]="'active'">Turkey</a>
            ·
            <a [routerLink]="'country/All'">All News</a>
            .
            <a href="#">Contact</a>
        </p>

        <!-- <div class="footer-icons">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-linkedin"></i></a>
            <a><i class="fa fa-github"></i></a>
        </div> -->

    </div>

    <div class="footer-right">

        <p>Contact Us</p>

        <form>

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>

</footer>