<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span class="styled">
                Newsforyou
            </span>
            <span class="styled-com">
                .com
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="'home'" [routerLinkActive]="'active'">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Countries
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="'country/India'"
                                [routerLinkActive]="'active'">India</a></li>
                        <li><a class="dropdown-item" [routerLink]="'country/Australia'"
                                [routerLinkActive]="'active'">Australia</a></li>
                        <li><a class="dropdown-item" [routerLink]="'country/America'"
                                [routerLinkActive]="'active'">America</a></li>
                        <li><a class="dropdown-item" [routerLink]="'country/Turkey'"
                                [routerLinkActive]="'active'">Turkey</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="'country/All'" [routerLinkActive]="'active'">
                                View All
                            </a>
                        </li>
                        <li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>