@import "../../../../../styles-user-variables.scss";

.navbar {
    background-color: $primary-color !important;

    padding: 1.5rem 0;
    font-size: 1rem;

    .navbar-brand {

        font-size: 2rem;

        .styled {
            font-family: 'Lato', sans-serif;
            font-family: 'Raleway', sans-serif;
            font-family: 'Secular One', sans-serif;
        }

        .styled-com {
            color: white;
        }

    }

    .dropdown-item.active {
        background-color: $primary-color;
    }
}



.navbar>.container-fluid {
    padding: 0 $global-padding
}