@import '../../../styles-user-variables.scss';


.article-container {

    padding-bottom: 2rem;
    border-bottom: 1px dashed $primary-color;

    .article-banner {
        height: 70vh;
        width: 100%;

        background-size: cover;
        // background-repeat: repeat-x;

        display: flex;
        flex-direction: column;
        justify-content: end;

        .banner-heading {
            color: white;

            h1 {
                margin-left: 4%;
                margin-bottom: 5%;

                display: inline-block;
                background: #ebe3017e !important;
                color: black;
            }
        }
    }


}

@media (max-width: 800px) {

    .article-banner {
        height: 30vh !important;
        width: 100%;

        // background-size: contain !important;
    }

}