$global-padding: 7%;
$preview-background: black;

$global-radius: 5px;


$primary-color: rgb(235, 227, 1);
$secondary-color: rgb(109, 95, 146);

$light-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$dark-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;